::-webkit-scrollbar {
    background-color: gray;
    border-radius: 2.5px;
    width: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
}

a {
    color: currentColor;
    text-decoration: none;
}

@font-face {
    font-family: "NotoSansRegular";
    src: url(/assets/fonts/nato-sans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: "NotoSansBold";
    src: url(../fonts/nato-sans/NotoSans-Bold.ttf);
}

body {
    background: #0f0617 !important;
}

header {
    position: sticky;
    top: 0;
}

.main-header {
    padding: 0 25px;
    background: #0f0617;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.left-items {
    display: flex;
}

.logo img {
    width: 150px;
    height: 80px;
}

.nav-menu-items ul {
    margin-bottom: 0 !important;
}

.nav-menu-items ul li {
    display: inline-block;
    margin: 16px 0;
    padding: 9px 16px;
}

.nav-menu-items ul li a {
    font-family: "NotoSansRegular";
    font-weight: 400;
    font-size: 15px;
    color: #ffffffd9;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    transition: all .5s;
    position: relative;
}

.nav-menu-items ul li a:hover {
    color: #fff;
    text-align: center;
}

/*
.nav-menu-items ul li a.active {

    color: #fff;
    text-decoration: underline;
} */

.nav-menu-items ul li:hover>a::after {
    opacity: 1;
    transition: width .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93);
    width: 100%;
}

.nav-menu-items ul li a::after {
    background: #fff;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: width .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93), opacity .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93);
    width: 0;
}

.nav-menu-items ul li a.active::after {
    bottom: 0;
    opacity: 1;
    width: 100%;
}

.right-items {
    display: flex;
    align-items: center;
}

.right-items div {
    margin-right: 23px;
}


.right-items .search-bx {
    border: 1px solid hsla(0, 0%, 51%, .6);
    border-radius: 6px;
    height: 35px;
    margin: 1px 16px 1px 0px;
    padding: 0 0 0 18px;
    align-items: center;
    display: flex;
    width: 335px;
}

.search-bx input {
    letter-spacing: .0100rem;
    margin: 0 0 0 14px;
    background: transparent;
    border: 0;
    color: #fff;
    font-family: "NotoSansRegular";
    font-size: 12px;
    font-weight: 400;
    height: 20px;
    line-height: 1.4285714286em;
    outline: 0;
    padding: 0;
    width: 100%;
    display: inline;
}


.search-bx img {
    width: 18px;
    display: inline;
    /* position: absolute;
    top: 6px;
    left: 10px; */
}

.login {
    margin-bottom: 5px;
}

.login a {
    background: rgba(0, 0, 0, .4);
    text-transform: uppercase;
    font-size: 12px;
    font-family: "NotoSansBold";
    text-decoration: none;
    color: white;
    padding: 9px 12px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93), color .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93);
}

.login a i {
    transition: background-color .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93), color .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93);
}

.login a:hover {
    background-color: #fff;
    color: #000;
}

.login a:hover i {
    background-color: #fff;
    color: #000;
}

.subp {
    margin-bottom: 5px;
}

.subp img {
    display: inline-block !important;
    margin-right: 2px;
    width: 15px !important;
    padding-bottom: 5px;
}

.subp a {
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 9px 12px;
    font-family: "NotoSansRegular";
    font-weight: 700;
    font-size: 11px;
    text-decoration: none;
    color: #fff;
    background-color: #8230c6;
    border-radius: 5px;
    transition: all .2s;
}

.subp a:hover {
    background-color: #5c1695;
    color: #fff;
}

.more img {
    width: 22px;
}

/*------------ sidemenu ----------- */

/* .resposive-menu-bx {
    background-color: white;
    height: 100%;
    width: 300px;
    position: fixed;
    right: -400px;
    top: 0;
    z-index: 1025;
    -webkit-box-shadow: 0px 0px 20px rgb(95 107 125 / 15%);
    box-shadow: 0px 0px 20px rgb(95 107 125 / 15%);
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: none;
}

.resposive-menu-bx.active {
    right: 0;
} */



/* -----close -----*/



.bt {
    border-top: 2px solid hsla(0, 0%, 100%, .1) !important;
}




.accordion .accordion-button span.down-icon {
    border-style: solid;
    border-color: currentColor;
    -o-border-image: initial;
    border-image: initial;
    border-width: 0px 2px 2px 0px;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    position: absolute;
    right: 23px;
    top: 25px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.accordion .accordion-button.collapsed span.down-icon {
    top: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.pos-ab {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.pos-rel {
    position: relative;
}

.div-txt {
    width: 50%;
    font-size: 14px;
    color: red;
}

.hms-tp-txt {
    position: absolute;
    top: 40px;
    left: 35px;
    z-index: 2;
}

.hms-btm-txt {
    position: absolute;
    bottom: 40px;
    left: 35px;
    z-index: 2;
}

.homesection picture::before {
    background: radial-gradient(152% 152% at 15.54% 96.84%, #0e0616 20%, rgba(14, 6, 22, 0) 60%);
    top: 35%;
    position: absolute;
    background: radial-gradient(152% 152% at 15.54% 96.84%, #0e0616 0, rgba(14, 6, 22, 0) 60.94%);
    opacity: .8;
    bottom: 0;
    content: "";
    left: 0;
    margin: auto;
    opacity: .9;
    position: absolute;
    right: 0;
    top: 64%;
    z-index: 1;
}

.hms-tp-txt img {
    width: 100%;
    border-radius: 50%;
}


.hms-btm-txt p.mv-title {
    font-size: 1.8rem;
    line-height: 2.6rem;
    max-height: 54px;
    padding-bottom: 4px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #fff;
    display: -webkit-box;
    font-family: NotoSansBold, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4285714286em;
    /* max-height: 50px; */
    overflow: hidden;
    text-shadow: 0 1px 2px rgb(0 0 0 / 70%);
}

.mv-plan {
    display: flex;
}

.mv-plan a i {
    margin-right: 7px;
}


/* Owl buttons CSS */
.owl-prev,
.owl-next {
    width: 60px !important;
    height: 60px !important;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 50% !important;
    font-size: 28px !important;
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: #000 !important;
    opacity: 0.7;
    -webkit-box-shadow: 0 0 50px rgb(0 0 0 / 20%);
    box-shadow: 0 0 50px rgb(0 0 0 / 20%);

}

.owl-nav {
    margin: 0 !important;
}

.owl-nav .owl-prev {
    background: transparent !important;
    position: absolute;
    left: 6%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.owl-nav .owl-next {
    position: absolute;
    right: 6%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.owl-next svg {
    width: 35px;
    height: 35px;
    position: relative;
    right: -1px;
}

.owl-prev svg {
    width: 35px;
    height: 35px;
    position: relative;
    left: -1px;
}

.owl-prev,
.owl-next {
    background-color: transparent !important;
    color: white !important;
    opacity: 1;
}

.owl-dots {
    position: absolute;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    /* background-color: white; */
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* padding: 4px; */
}

.owl-dots .owl-dot span {
    width: 6px !important;
    height: 6px !important;
    margin: 1px 2px !important;
    background-color: #8a8a8a !important;
}

.owl-dots .owl-dot.active span {
    background: #da76ff !important;
}


.homesection:hover .owl-nav{
    opacity: 1;
    visibility: visible;
}

.homesection .owl-nav{
    transition:all .2s;
    opacity: 0;
    visibility: hidden;
}