::-webkit-scrollbar {
    background-color: gray;
    border-radius: 2.5px;
    width: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    color: #fff;
}

a {
    color: currentColor;
    text-decoration: none;
}

/* 
@font-face {
    font-family: "NotoSansRegular";
    src: url(../fonts/nato-sans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: "NotoSansBold";
    src: url(../fonts/nato-sans/NotoSans-Bold.ttf);
} */

@font-face {
    font-family: "NotoSans";
    src: url(../fonts/nato-sans/NotoSans-Regular.ttf);
    font-weight: 400;
}


@font-face {
    font-family: "NotoSans";
    src: url(../fonts/nato-sans/NotoSans-Bold.ttf);
    font-weight: 500;
}

body {
    background: #0f0617 !important;
    font-family: "NotoSans";
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.main-header {
    margin-top: 8px;
    padding: 0 25px;
    background: #0f0617;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.left-items {
    display: flex;
}

.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon-r-bx,
.flip-container {
    perspective: 200px;
    margin-left: 3px;
}

/*speed of transition*/
.icon-r-ani,
.flipper {
    transform-style: preserve-3d;
    position: relative;
    animation: anim 8s infinite;
    transform-origin: center;
}

.icon-r-bx,
.icon-r-ani,
.icon-r-ani .icons-f,
.icon-r-ani .icons-b {
    width: 44px;
    height: 44px;
    margin-bottom: 8px;
}

.icon-r-ani .icons-f,
.icon-r-ani .icons-b,
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.icon-r-ani .icons-f {
    background-image: url(../img/pro.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

.icon-r-ani .icons-b {
    background-image: url(../img/pro.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
}


@keyframes anim {

    0%,
    5% {
        transform: rotatey(0deg);
    }

    45%,
    50% {
        transform: rotatey(180deg);
    }

    100% {
        transform: rotatey(360deg);
    }

}


.logo img {
    width: 100px;
}

.nav-items-show {
    display: none;
}

.nav-menu-items ul {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    margin-bottom: 0 !important;
}

.nav-menu-items ul li {
    display: inline;
    margin: 16px 0;
    padding: 9px 16px;
}

.nav-menu-items ul li a {
    font-family: "NotoSans";
    font-weight: 400;
    font-size: 15px;
    color: #ffffffd9;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    transition: all .5s;
    position: relative;
}

.nav-menu-items ul li a:hover {
    color: #fff;
    text-align: center;
}

/*
.nav-menu-items ul li a.active {

    color: #fff;
    text-decoration: underline;
} */

.nav-menu-items ul li:hover>a::after {
    opacity: 1;
    transition: width .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93);
    width: 100%;
}

.nav-menu-items ul li a::after {
    background: #fff;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: width .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93), opacity .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93);
    width: 0;
}

.nav-menu-items ul li a.active::after {
    bottom: 0;
    opacity: 1;
    width: 100%;
}

.right-items {
    display: flex;
    align-items: center;
}

.right-items div {
    margin: 0 0 0 23px;
}


.right-items .search-bx {
    border: 1px solid hsla(0, 0%, 51%, .6);
    border-radius: 6px;
    height: 35px;
    margin: 1px 16px 1px 0px;
    padding: 0 0 0 18px;
    align-items: center;
    display: flex;
    width: 335px;
}

.search-bx input {
    letter-spacing: .0100rem;
    margin: 0 0 0 14px;
    background: transparent;
    border: 0;
    color: #fff;
    font-family: "NotoSans";
    font-size: 12px;
    font-weight: 400;
    height: 20px;
    line-height: 1.4285714286em;
    outline: 0;
    padding: 0;
    width: 100%;
    display: inline;
}


.search-bx img {
    width: 18px;
    display: inline;
    /* position: absolute;
    top: 6px;
    left: 10px; */
}

.login {
    margin-bottom: 5px;
}

.login a {
    background: rgba(0, 0, 0, .4);
    text-transform: uppercase;
    font-size: 12px;
    font-family: "NotoSans";
    text-decoration: none;
    color: white;
    padding: 9px 12px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93), color .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93);
}

.login a i {
    transition: background-color .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93), color .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93);
}

.login a:hover {
    background-color: #fff;
    color: #000;
}

.login a:hover i {
    background-color: #fff;
    color: #000;
}

.cmn-btn {
    margin-bottom: 5px;
}

.cmn-btn a {
    background: rgba(0, 0, 0, .4);
    text-transform: uppercase;
    font-size: 12px;
    font-family: "NotoSans";
    text-decoration: none;
    color: white;
    padding: 9px 12px;
    border: 1px solid #fff;
    border-radius: 8px;
    font-weight: 500;
    transition: background-color .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93), color .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93);
}

.cmn-btn a i {
    transition: background-color .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93), color .25s ease-in, bottom .25s cubic-bezier(.33, .04, .63, .93);
}

.cmn-btn a:hover {
    background-color: #fff;
    color: #000;
}

.cmn-btn a:hover i {
    background-color: #fff;
    color: #000;
}

.subp {
    margin-bottom: 5px;
}



.subp img {
    display: inline-block !important;
    margin-right: 2px;
    width: 15px !important;
    padding-bottom: 5px;
}

.subp a {
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 9px 12px;
    font-family: "NotoSans";
    font-weight: 700;
    font-size: 11px;
    text-decoration: none;
    color: #fff;
    background-color: #8230c6;
    border-radius: 5px;
    transition: all .2s;
}

.subp a:hover {
    background-color: #5c1695;
    color: #fff;
}

.more img {
    width: 22px;
}

/*------------ sidemenu ----------- */

/* .resposive-menu-bx {
    background-color: white;
    height: 100%;
    width: 300px;
    position: fixed;
    right: -400px;
    top: 0;
    z-index: 1025;
    -webkit-box-shadow: 0px 0px 20px rgb(95 107 125 / 15%);
    box-shadow: 0px 0px 20px rgb(95 107 125 / 15%);
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: none;
}

.resposive-menu-bx.active {
    right: 0;
} */



/* -----close -----*/



.bt {
    border-top: 2px solid hsla(0, 0%, 100%, .1) !important;
}


.side-prof,
.logo-res {
    display: none;
}



.accordion .accordion-button span.down-icon {
    border-style: solid;
    border-color: currentColor;
    -o-border-image: initial;
    border-image: initial;
    border-width: 0px 2px 2px 0px;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    position: absolute;
    right: 23px;
    top: 25px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.accordion .accordion-button.collapsed span.down-icon {
    top: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.pos-ab {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.pos-rel {
    position: relative;
}

.div-txt {
    width: 50%;
    font-size: 14px;
    color: red;
}

.hms-tp-txt {
    position: absolute;
    top: 40px;
    left: 35px;
    z-index: 2;
}

.hms-btm-txt {
    position: absolute;
    bottom: 40px;
    left: 35px;
    z-index: 2;
}

.homesection picture::before {
    background: radial-gradient(152% 152% at 15.54% 96.84%, #0e0616 20%, rgba(14, 6, 22, 0) 60%);
    top: 35%;
    position: absolute;
    background: radial-gradient(152% 152% at 15.54% 96.84%, #0e0616 0, rgba(14, 6, 22, 0) 60.94%);
    opacity: .8;
    bottom: 0;
    content: "";
    left: 0;
    margin: auto;
    opacity: .9;
    position: absolute;
    right: 0;
    top: 64%;
    z-index: 1;
}

.hms-tp-txt img {
    width: 100%;
    border-radius: 50%;
}


.hms-btm-txt p.mv-title {
    font-size: 1.8rem;
    line-height: 2.6rem;
    max-height: 54px;
    padding-bottom: 4px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #fff;
    display: -webkit-box;
    font-family: NotoSansBold, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4285714286em;
    /* max-height: 50px; */
    overflow: hidden;
    text-shadow: 0 1px 2px rgb(0 0 0 / 70%);
}

.mv-plan {
    display: flex;
}

.mv-plan a i {
    margin-right: 7px;
}

.bg img {
    border-radius: 5px;
}

/* Owl buttons CSS */
.owl-prev,
.owl-next {
    width: 60px !important;
    height: 60px !important;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 50% !important;
    font-size: 28px !important;
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: #000 !important;
    opacity: 0.7;
    -webkit-box-shadow: 0 0 50px rgb(0 0 0 / 20%);
    box-shadow: 0 0 50px rgb(0 0 0 / 20%);
    background: linear-gradient(90deg, transparent 0, rgba(0, 0, 0, .5)) !important;
}

.owl-nav {
    margin: 0 !important;
}

.owl-nav .owl-prev {
    background: transparent !important;
    position: absolute;
    left: 6%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.owl-nav .owl-next {
    position: absolute;
    right: 6%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.owl-next svg {
    width: 35px;
    height: 35px;
    position: relative;
    right: -1px;
}

.owl-prev svg {
    width: 35px;
    height: 35px;
    position: relative;
    left: -1px;
}

.owl-prev,
.owl-next {
    background-color: transparent !important;
    color: white !important;
    opacity: 1;
}

.owl-dots {
    position: absolute;
    bottom: -25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    /* background-color: white; */
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* padding: 4px; */
}

.owl-dots .owl-dot span {
    width: 6px !important;
    height: 6px !important;
    margin: 1px 2px !important;
    background-color: #8a8a8a !important;
}

.owl-dots .owl-dot.active span {
    background: #da76ff !important;
}


.homesection:hover .owl-nav {
    opacity: 1;
    visibility: visible;
}

.homesection .owl-nav {
    transition: all .2s;
    opacity: 0;
    visibility: hidden;
}

.ed-nav .owl-dots {
    display: none;
}

.ed-nav .owl-prev {
    left: -5px;
}

.ed-nav .owl-next {
    right: -5px;
}

.ed-nav:hover .owl-nav {
    opacity: 1;
    visibility: visible;
}

.ed-nav .owl-nav {
    transition: all .2s;
    opacity: 0;
    visibility: hidden;
}

/*--------   sec-2 started--------- */
.movie-img img {
    /* width: auto !important; */
    border-radius: 5px;
}

.common-heading {
    display: inline-block;
    margin: 20px;
}

.common-heading h2 {
    display: inline-block;
    font-size: 20px;
    text-transform: capitalize;
    font-family: "NotoSans";
    font-weight: 400;
}

.more {
    display: flex;
    margin: 20px;
    align-items: center;
}

.more a {
    margin-right: 10px;
    text-decoration: none;
    font-family: "NotoSansRegular";
    color: #a785ff;
    font-size: 14px;
}

.more a:hover {
    color: #a785ff;
}

.more i {
    vertical-align: middle;
    color: #a785ff;
}

.jb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* -------------footer css------------- */

.footer-ul-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
}

.footer-ul-link li a {
    text-decoration: none;
    position: relative;
    border-right: 1px solid rgb(71, 71, 71);
    color: #525252;
    font-size: 16px;
    font-weight: 600;
    margin-right: 0;
    margin: 10px 0;
    display: block;
    padding: 0px 15px;
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.footer-ul-link li:last-child a {
    border: none;
}

.footer-ul-link li a.active,
.footer-ul-link li a:hover {
    color: #a785ff;
}

.footer-ul-link li a .bx {
    position: relative;
    top: 3px;
    margin-right: 5px;
    font-size: 18px;
}

.footer-ul-link i {
    color: rgb(71, 71, 71);
}

.footer-bottom {
    margin-top: 25px;
}

.copyright {
    color: rgb(71, 71, 71);
    font-size: 13px;
    margin: 0;
    margin-bottom: 10px;
}

.mede-with {
    color: rgb(71, 71, 71);
    font-size: 13px;
    margin: 0;
    margin-bottom: 10px;
}

.mede-with a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}

.mede-with a:hover {
    color: #a785ff;
}

.icons-box-made {
    /* border: 1px solid red; */
    width: 12px;
    height: 12px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 2px;
}

.icons-box-made .fa-heart,
.icons-box-made .fa-heart-o {
    position: absolute;
}

.mede-with .fa-heart-o {
    color: #999;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
}

.mede-with .fa-heart {
    color: #999;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.mede-with:hover .fa-heart-o {
    opacity: 0;
}

.mede-with:hover .fa-heart {
    opacity: 1;
    color: #dd1627;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.social-links {
    text-align: center;
}

.social-links a {
    text-decoration: none;
    color: #777777;
    height: 35px;
    margin: 0px 2px;
    width: 35px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
}

.social-links a:hover {
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #0000000d;
    box-shadow: 0px 0px 10px #0000000d;
}

.social-links a .fa {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-links a:hover .fa-facebook {
    color: #3b5998;
}

.social-links a:hover .fa-twitter {
    color: #00aced;
}

.social-links a:hover .fa-instagram {
    color: #8a3ab9;
}

.social-links a:hover .fa-linkedin {
    color: #0077b5;
}

.social-links a:hover .fa-youtube-play {
    color: red;
}

.bdt {
    border-top: 1px solid rgba(71, 71, 71, 0.379);
}

.footer-social-link i {
    color: rgb(71, 71, 71);
}




/*----------------- detail page css ----------------------- */

.offer {
    background: #401a4c;
}


.offer-banner {
    border-radius: 8px;
    font-weight: 500;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    display: flex;
}

.offer-banner-txt h3 {
    font-size: 16px;
    padding: 0 10px;
}

.pffer-banner-btn {
    font-size: 14px !important;
}

.movie-details{
    margin: 20px 0;
}

.movie-details .movie-heading {
    margin-top: 10px;
}

.movie-details .movie-heading h2 {
    font-family: "NotoSans";
    font-weight: 500;
}

.movie-details .movie-years {
    margin: 30px 0;
}

.movie-details .movie-years a {
    font-weight: 500;
}

.cmn-a {
    margin-right: 10px;
    font-family: "NotoSans";
    font-weight: 400;
    color: #a785ff !important;
}

.movie-details .mv-details a {
    font-size: 20px;
    font-weight: 500;
}

.movie-details .dot {
    margin-right: 20px;
    position: relative;
    padding: 0px 10px 0 0;
}

.movie-details .dot::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    right: -10px;
    opacity: .2;
    position: absolute;
    top: 13px;
    width: 8px;
}

.movie-details .mv-details {
    margin-bottom: 30px;
}

.movie-details .mv-details span {
    font-weight: 500;
    color: hsla(0, 0%, 100%, .5);
    font-size: 20px;
}

.movie-details .more-btn {
    margin-bottom: 30px;
    display: flex;
}

.movie-details .more-btn .more-btn-shwh {
    display: flex;
    align-items: center;
    background: hsla(0, 0%, 100%, .04);
    ;
}

.movie-details .more-btn .more-btn-share,
.more-btn-wish {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 32px 21.5px;
}


.movie-details .more-btn img {
    width: 30px;
}


.movie-details .more-btn a {
    margin-top: 20px;
    color: hsla(0, 0%, 100%, .5);
    display: block;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -.5px;
    line-height: .86;
    line-height: .8571428571em;
}


.movie-details .more-btn .watchbtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 50px 21.5px;
    background: hsla(0, 0%, 100%, .08);
    ;
}

.movie-details .langs {
    margin-bottom: 30px;
}

.movie-details .langs p {
    display: inline;
    margin-right: 10px;
}

.movie-details .sub-titles {
    margin-bottom: 30px;
}

.movie-details .sub-titles p {
    display: inline;
    margin-right: 10px;
}

.movie-details span {
    color: hsla(0, 0%, 100%, .5);
}

.movie-details .movie-more-details p.dts {
    font-size: 18px;
    line-height: 1.7rem;

}

.movie-details .movie-more-details .accordion-button:not(.collapsed) {
    border-bottom: none !important;
}

.movie-details .movie-more-details .brgr-menu-items {
    padding: 0 20px 0 0 !important;
}

.movie-details .movie-more-details .cast .cast-actors p,
a {
    font-size: 16px;
    font-weight: 500;
}

.movie-details .movie-more-details .cast .cast-actors {
    display: inline-block;
    margin: 0 32px 24px 0;
}

.accordion .accordion-button.collapsed span.down-icon-thala {
    top: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.accordion .accordion-button span.down-icon-thala {
    border-style: solid;
    border-color: currentColor;
    -o-border-image: initial;
    border-image: initial;
    border-width: 0px 2px 2px 0px;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    position: absolute;
    right: 23px;
    top: 25px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.movie-more-details .cast {
    margin-top: 20px;
}

.ovr {
    overflow: hidden;
    overflow-y: auto;
    height: 100vh;
    position: sticky;
    top: 10px;
}

.rg-items .common-heading {
    margin: 10px 0;
}

.rg-items .common-heading h2 {
    font-weight: 500;
    font-size: 18px;
}

.rg-items .trending-slides,
.rg-items .movie-img {
    display: inline-block !important;
}

.rg-items .trending-slides {
    margin: 10px 0 !important;
}

.rg-items .rowa {
    display: flex;
    flex-wrap: wrap;
}

.rg-items .trending-slides .movie-img img {
    padding: 0 4px 0;
}